.header {
    box-shadow: 0 0 2px 0 var(--bg-secondary-color);
    /*background-color: var(--bg-main-color);*/
    background-color: rgb(79, 114, 53);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fas {
    color: #CE2724;
}